body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #000D1B;
    color: white;
}

.header{
    padding: 96px 24px;
    background-image: url(./img/hero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__heading{
    color: white;
}

.header__perex{
    margin: 12px 0px 48px;
}

.header__button{
    display: inline-block;
    padding: 12px 24px;
    background-color:#00AFFF;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.benefits{
    padding: 0px 24px;
}

.benefits__container{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
}

.benefits__heading{
    color: white;
}

.benefits__card{
    color: white;
    padding: 24px;
    background-color: #0F1C29;
    border-radius: 3px;
}

.benefits__number{
    font-weight: bold;
    color: #00AFFF;
    display: inline-block;
    margin-bottom: 24px;
}


.nav{
    padding: 24px;
    position: sticky;
    top:0px;
    background-color: #000D1B;
}

.nav__brand{
    display: inline-block;
}

.nav__logo{
    max-height: 36px;
}

.nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__wrapper{
    display: flex;
}

.nav__button{
    font-size: 14px;
    padding: 6px 12px;
    background-color: #00AFFF;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.nav__links{
    list-style: none;
    display: none;
}